<form #form="ngForm" class="form" (submit)="getSubmitCallback(form)">
  <div class="form-group">
    <h5 style="color: red;text-decoration-line: underline"
        *ngIf="duplicateNameError">Eine Liste mit dem Namen "{{form.value.listName}}" ist bereits vorhanden</h5>
  </div>
  <div class="form-group">
    <input type="text" [placeholder]="todoItemList ? todoItemList.listName : 'Listenname'" name="listName" ngModel>
    <input type="submit" [value]="renameForm ? 'Speichern' : 'Erstellen'">
  </div>
</form>
