<div>
  <div class="table-head">
    <div class="table-options">
      <button class="add-button" (click)="addButtonClick()"><i class="fa fa-plus"></i>Hinzufügen</button>
      <div class="search">
        <label for="search">Suche</label>
        <input id="search" type="text" [(ngModel)]="searchString">
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th *ngFor="let col of colConfigs" [width]="col.colWidth">{{col.colDisplayName}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of getData()" (click)="selectItem(data)">
        <td *ngFor="let i of order" [width]="tdWidths[i]"><span>{{data[i]}}</span></td>
        <td class="option-col" appClickStopPropagation>
          <i class="fa fa-pencil" (click)="editItem(data)"></i>
          <i class="fa fa-close" (click)="deleteItem(data)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
