<header class="main-header">
  <div class="nav-wrapper">
    <a class="main-nav__logo" href="#">ToDo</a>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item"><a [routerLink]="['/register']" *ngIf="!us.isAuthenticated()">Registrieren</a></li>
        <li class="main-nav__item"><a [routerLink]="['/todolists']" *ngIf="us.isAuthenticated()">ToDo Listen</a></li>
      </ul>
    </nav>
  </div>
  <app-login-form [displayInline]="true" *ngIf="!us.isAuthenticated()"></app-login-form>
  <app-logout-form *ngIf="us.isAuthenticated()"></app-logout-form>
</header>
