<div class="container">
  <app-popup (close)="onPopupClose()" *ngIf="addPopup || renamePopup">
    <app-todo-item-form [addForm]="true" *ngIf="addPopup"></app-todo-item-form>
    <app-todo-item-form [renameForm]="true" [todoItem]="selectedTodoItem" *ngIf="renamePopup"></app-todo-item-form>
  </app-popup>

  <div class="table">
    <app-table [colConfigs]="colConfigs"
               [tableData]="getTodoItems()"
               [searchShouldConsider]="['toDo', 'creationDate']"
               (itemDeleted)="onItemRemove($event)"
               (itemSelected)="onItemSelect($event)"
               (itemEdited)="onItemEdit($event)"
               (addButtonClicked)="addPopup = true"
    >
    </app-table>
  </div>
</div>
