<div class="container">
  <app-popup (close)="onPopupClose()" *ngIf="showPopup">
    <app-todo-item-form [todoItem]="selectedTodoItem"></app-todo-item-form>
  </app-popup>

  <div class="table">
    <app-table [colConfigs]="colConfigs"
               [tableData]="getTodoItems()"
               [searchShouldConsider]="['toDo']"
               (itemRemoved)="onItemRemove($event)"
               (itemSelected)="onItemSelect($event)"
               (itemEdited)="onItemEdit($event)"
               (addButtonClicked)="showPopup = true"
    >
    </app-table>
  </div>
</div>
